<!DOCTYPE html>
<html lang="en">
<head>
<% if ( challenge == 1 ) { %>
	<title>Feudalife Challenges!</title>
<% } else { %>
	<title>Feudalife | Free Online pixel farming RPG | Create your farm!</title>
<% } %>
	<meta charset="utf-8"/>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<meta content="INDEX,FOLLOW" name="robots"/>

	<link href="<%= pathprefix %>/static/favicon.ico?v=1.1" rel="shortcut icon" type="image/x-icon"/>
	<link href="<%= pathprefix %>/static/favicon.ico?v=1.1" rel="icon" type="image/x-icon"/>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="manifest" href="<%= pathprefix %>/static/manifest.webmanifest">
	
<% if ( challenge == 1 ) { %>
	<meta content="Try the luck in feudalife challenges! You can win a free Steam key or $ Galacredit $ to spend in Indiegala store!" name="description"/>
	<meta content="Try the luck in feudalife challenges! You can win a free Steam key or $ Galacredit $ to spend in Indiegala store!" property="og:description"/>
	<meta content="Feudalife | Try the luck win Steam keys or GalaCredit" name="title"/>
	<meta content="Feudalife | Try the luck win Steam keys or GalaCredit" property="og:title"/>
	<meta content="https://feudalife.indiegala.com/challenges" property="og:url"/>
	<meta content="Try the luck in feudalife challenges! You can win a free Steam key or $ Galacredit $ to spend in Indiegala store!" name="twitter:description"/>
	<meta content="Feudalife | Try the luck win Steam keys or GalaCredit" name="twitter:title"/>
<% } else { %>
	<meta content="FeudaLife is an adventure game where you can explore, fight and build your own farm village. The game is absolutely FREE and requires no installation! You can play it from any browser." name="description"/>
	<meta content="FeudaLife is an adventure game where you can explore, fight and build your own farm village. The game is absolutely FREE and requires no installation! You can play it from any browser." property="og:description"/>
	<meta content="Feudalife | Free Online pixel farming RPG | Create your farm!" name="title"/>
	<meta content="Feudalife | Free Online pixel farming RPG | Create your farm!" name="og:title"/>
	<meta content="https://feudalife.indiegala.com" property="og:url"/>
	<meta content="Feudalife | Free Online pixel farming RPG | Create your farm!" name="twitter:description"/>
	<meta content="Feudalife | Free Online pixel farming RPG | Create your farm!" name="twitter:title"/>
<% } %>

	<meta content="124579644330923" property="fb:app_id"/>
	<meta content="website" property="og:type"/>
	<meta content="Indiegala" property="og:site_name"/>
	<meta content="website" property="og:type"/>
	<meta content="https://www.indiegalacdn.com/store-img_game/games/og_image/indiegala-main-og-image.jpg?v=2.432330692291445157" property="og:image"/>
	<meta content="690" property="og:image:width"/>
	<meta content="361" property="og:image:height"/>
	<meta content="en_GB" property="og:locale"/>
	<meta content="summary_large_image" name="twitter:card"/>
	<meta content="@IndieGala" name="twitter:site"/>
	<meta content="IndieGala" name="twitter:site:id"/>
	<meta content="@IndieGala" name="twitter:creator"/>
	<meta content="IndieGala" name="twitter:creator:id"/>
	<meta content="https://www.indiegalacdn.com/store-img_game/games/twitter/indiegala-main-og.jpg?v=2.432330692291445157" name="twitter:image"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	
	<!-- CSS LIBS -->
	<link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link type="text/css" rel="stylesheet" href="https://www.indiegala.com/css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

	<!-- CSS GLOBALS -->
	<link type="text/css" rel="stylesheet" href="https://www.indiegala.com/css/reset.css" />
	<link type="text/css" rel="stylesheet" href="https://www.indiegala.com/css/lib/lib.css" />
	<link type="text/css" rel="stylesheet" href="https://www.indiegala.com/css/palette.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700">

	<!-- CSS PAGE -->
	<link type="text/css" rel="stylesheet" href="https://www.indiegala.com/css/frontend/style.css" />
	<link type="text/css" rel="stylesheet" href="https://www.indiegala.com/css/frontend/style_responsive.css" />
	<link type="text/css" rel="stylesheet" href="<%= pathprefix %>/static/css/style.css" />

	<!-- JS LIBS -->
	<script src="https://www.indiegala.com/js/lib/jquery-3.3.1.min.js"></script>
	<script src="https://www.indiegala.com/js/lib/jquery-ui.min.js"></script>
	<script src="https://www.indiegala.com/js/lib/jquery.cookie.js"></script>
	<script src="https://www.indiegala.com/js/lib/jquery.countdown.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://www.indiegala.com/js/lib/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

	<!-- JS GLOBALS -->
	<script src="https://www.indiegala.com/js/commons.js"></script>

	<!-- JS PAGE -->
	<script src="https://www.indiegala.com/js/frontend/scripts.js"></script>
	<script src="<%= pathprefix %>/static/js/scripts.js"></script>
	<script src="<%= pathprefix %>/static/js/lz-string.min.js"></script>


	<!-- feudalife game -->
	<script> const mediapath = "<%= pathprefix %>/html5game/"; </script>
	<script type="text/javascript" src="<%= pathprefix %>/static/html5game/MedievalleyTest.js?ver=202001281830"></script>
	<script type="text/javascript" src="<%= pathprefix %>/static/html5game/vph_externalfunctions.js?ver=202001281830"></script>


	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-12190628-10', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12190628-10"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-12190628-10');
	</script>
	<!-- End Global site tag (gtag.js) - Google Analytics -->

	<!-- Start Alexa Certify Javascript -->
	<script type="text/javascript">
	_atrk_opts = { atrk_acct:"DPzqu1DlQy20Y8", domain:"indiegala.com",dynamic: true};
	(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
	</script>
	<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=DPzqu1DlQy20Y8" style="display:none" height="1" width="1" alt="" /></noscript>
	<!-- End Alexa Certify Javascript -->

	<script>
		$(window).on('load', function(){
			fitDocumentMinHeight('.default-header', '.default-footer', '.main-container');
		});
	</script>
</head>
<body class="body body-bg feudalife-page" data="<%= externalIp %>" challenge="<%= challenge %>">
	<script>
		const 		challenge = $('body').attr('challenge')
					isChallenge = challenge != '0';
		get_log("challenge", challenge);
		if ( challenge != '0' ){ $('body').addClass('body-challenges') }
		const pathprefix = '<%= pathprefix %>';
	</script>
	<div class="gm4html5_div_class display-none" id="gm4html5_div_id">
		<!-- hide-under-1010 -->
		<canvas id="canvas" width="960" height="540" class="game-canvas hide-under-1010">
			<p>Your browser doesn't support HTML5 canvas.</p>
		</canvas>
	</div>
	<div id="everything-else" class="relative main-container-fixed-bg">
		<header class="default-header relative">
			<div class="header-footer-cover"></div>
		</header>
		<div class="default-header-spacer">
			<div class="spacer-v-50"></div>
			<div class="spacer-v-5"></div>
		</div>
		<section class="main-container">
			<div class="default-wrapper-width relative">
				<div class="feudalife-screen feudalife-screen-loading display-none">
					<figure class="feudalife-image-title">
						<img src="<%= pathprefix %>/static/html5game/fl_logo.png" alt="feudalife title">
					</figure>
					<div class="feudalife-box feudalife-loading-text relative">
						<div class="feudalife-box-inner relative">
							<figure class="feudalife-loading-image">
								<img src="<%= pathprefix %>/static/html5game/fl_loader_3.gif" alt="feudalife title">
							</figure>
							<p class="feudalife-box-text">Loading...</p>
						</div>
					</div>
					<div class="feudalife-box feudalife-loading-error display-none">
						<div class="feudalife-box-inner relative">
							<div class="feudalife-loading-error-title">
								<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Loading error [<span></span>]
							</div>
							<div class="feudalife-loading-error-text"></div>
							<div class="feudalife-loading-error-retry">
								<button onclick="feudalifeInit(); return false">Retry</button>
							</div>
						</div>
					</div>
				</div>
				<div class="feudalife-screen feudalife-screen-login display-none">
					<figure class="feudalife-image-title">
						<img src="<%= pathprefix %>/static/html5game/fl_logo.png" alt="feudalife title">
					</figure>
					<div class="feudalife-box relative">
						<div class="feudalife-box-inner relative">
							<figure class="feudalife-loading-image">
								<img src="<%= pathprefix %>/static/html5game/fl_pupazzi.png" alt="feudalife login img">
							</figure>
							<div class="feudalife-box-text">
								<p class="feudalife-box-text-row feudalife-box-text-row-1">Want to <strong>play</strong>?</p>
								<p class="feudalife-box-text-row feudalife-box-text-row-2"><a href="https://www.indiegala.com/login" title="Go to login page">Login</a> or :</p> 
								<div class="login-oauth-button-cont overflow-auto">
									<div class="left relative login-oauth-button login-oauth-button-google">
										<a class="fit-click" href="https://www.indiegala.com/login/auth/google?destination_url=" onclick="setLoginReturningCookie()"></a>
										<div class="overflow-auto">
											<div class="left login-oauth-button-left">
												<img src="<%= pathprefix %>/static/html5game/fl_google_logo.png" alt="google g logo">
											</div>
											<div class="right login-oauth-button-right">Sign in with Google</div>
										</div>
									</div>
									<div class="left relative login-oauth-button login-oauth-button-facebook">
										<a class="fit-click" href="https://www.indiegala.com/login/auth/facebook?destination_url=" onclick="setLoginReturningCookie()"></a>
										<div class="overflow-auto">
											<div class="left login-oauth-button-left">
												<img src="<%= pathprefix %>/static/html5game/fl_fb_logo.png" alt="google g logo">
											</div>
											<div class="right login-oauth-button-right">Login with Facebook</div>
										</div>
									</div>
								</div>
								<hr class="sep">
								<h1 class="feudalife-page-title">About Feudalife</h1>
								<p class="feudalife-description">
									FeudaLife is an adventure game where you can explore, fight and build your own farm village.
The game is absolutely free.<br><br>Feudalife is intended to evolve with the feedback of the people playing it. Please <a href="https://forums.indiegala.com/forums/feudalife.7/" target="_blank">we want to hear your voice</a>! Tell us what you like, what you do not and what you would like to see in the game! ;-)<br><br>If you really like the game and want to help documenting it, please <a href="https://feudalifewiki.indiegala.com/" target="_blank">contribute to our wiki</a>. You'll help newcomers a lot.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="feudalife-screen feudalife-screen-play display-none">
					<div class="feudalife-game-fullscreen">
						<a href="#" onclick="goFullscreen(); return false"><i class="fa fa-arrows-alt" aria-hidden="true"></i>Go fullscreen</a>
					</div>
					<div class="feudalife-game-frame">
						<p class="display-none show-under-1010 feudalife-responsive-text">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong>Notice</strong><br>
							<span>Feudalife is not supported on desktop screens smaller than 1010px...</span>
						</p>
					</div>
					<div class="feudalife-game-frame-footer overflow-auto">
						<div class="left feudalife-game-frame-footer-box feudalife-game-frame-footer-box-left">Please leave a <a href="https://forums.indiegala.com/forums/feudalife.7/" target="_blank">feedback</a></div>
						<div class="right feudalife-game-frame-footer-box feudalife-game-frame-footer-box-right">
							<img src="https://www.google.com/intl/it/chrome/static/images/chrome-logo.svg">Best with <a href="https://www.google.com/intl/it_it/chrome/" target="_blank">Google Chrome</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="default-footer relative">
			<div class="header-footer-cover"></div>
				<div class="top-bar plt-background-dark">
					<div class="default-wrapper-width">
						<div class="top-bar-inner">
							<div class="overflow-auto">
								<nav class="feudalife-init-service-menu init-service-menu left service-menu">
									<ul class="overflow-auto">
										<li><a href="https://company.indiegala.com" target="_blank">Company</a></li>
										<li><a href="https://docs.indiegala.com/support/affiliation_program.html" target="_blank">Affiliation Program</a></li>
										<li><a href="https://docs.indiegala.com" target="_blank">Help</a></li>
										<li><a href="/terms-of-service">Terms of service</a></li>
										<li><a href="/privacy-policy">Privacy policy</a></li>
									</ul>
								</nav>
								
								<div class="spacer-v-10 display-none show-under-640 hide-under-480"></div>
								<nav class="feudalife-init-social-menu init-social-menu right social-menu">
									<ul>
										<li><a href="https://www.youtube.com/user/IndieGala" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
										<li><a href="https://www.facebook.com/IndieGala?fref=ts" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
										<li><a href="https://twitter.com/IndieGala" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="https://steamcommunity.com/groups/indiegala" target="_blank"><i class="fa fa-steam-square" aria-hidden="true"></i></a></li>
										<li><a href="https://vk.com/indie_gala" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="mid-bar plt-background-dark-alt">
					<div class="default-wrapper-width">
						<div class="overflow-auto mid-bar-inner">
							<div class="left">
								<figure class="feudalife-init-footer-logo-cont init-footer-logo-cont footer-logo-cont">
									<a href="/">
										<img class="feudalife-init-footer-logo init-footer-logo footer-logo" src="https://www.indiegalacdn.com/website/commons/logo/logo-light.png?v=1611252849" alt="logo-light">
									</a>
								</figure>
							</div>
							<div class="feudalife-init-footer-client-cont init-footer-client-cont footer-client-cont right">
								<div class="relative">
									<div class="download-client">
										<div class="overflow-auto">
											<div class="left left-frame">
												<a href="https://docs.indiegala.com/dev_showcase/galak.html" target="_blank"><i class="fa fa-info" aria-hidden="true"></i></a>
											</div>
											<div class="right right-frame bg-gradient-red">
												<a href="https://content.indiegalacdn.com/common/galaK_win32.zip" target="_blank">Download galaK</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-bar plt-background-dark">
					<div class="default-wrapper-width">
						<p>Indiegala s.r.l. - 2011-2021 - Via Bolzano, 15 - 00198 Rome - VAT ID IT 11660511004 - REA RM 1319602 -
							Fully paid-up capital of â‚¬10.000,00 All rights Reserved <a href="https://www.indiegala.com/terms-of-service" class="transition">Terms of Service</a>
							and <a href="https://www.indiegala.com/privacy-policy" class="transition">Privacy Policy</a>.</p>
					</div>
				</div>
		</footer>
	</div>
	<script>
		const 	$header 					= $('.default-header'),
				$footer 					= $('.default-footer'),
				$headerFooterCover 			= $('.header-footer-cover'),
				$screenLoading 				= $('.feudalife-screen-loading');
				$screenLoadingCont 			= $('.feudalife-loading-text', $screenLoading),
				$screenLoadingError 		= $('.feudalife-loading-error', $screenLoading),
				$screenLogin 				= $('.feudalife-screen-login'),
				$screenPlay 				= $('.feudalife-screen-play'),
				$gameCanvas 				= $('.game-canvas'),
				$gameCanvasCont 			= $('.gm4html5_div_class'),
				$exitFullscreenBtn			= $('.fl-exit-fullscreen'),
				$responsiveText 			= $('.feudalife-responsive-text span'),
				$responsiveTextIcon 		= $('.feudalife-responsive-text .fa'),
				$goFullscreenBtn 			= $('.feudalife-game-fullscreen');

		isMobile = isMobileDevice();
		screenOrientation = getScreenOrientation()
		
		page_info = {};
		page_info.win_w						= 0;
		page_info.win_h						= 0;
		page_info.doc_w						= 0;
		page_info.doc_h						= 0;
		page_info.windoc_gap				= 0;
		page_info.is_page_scrolling			= false;

		fl_css_frame 					= {'top': '204px', 'left': '50%', 'width': '960px', 'height': '540px', 'transform': 'translate(0px, 0px)', 'border-radius': '2px' };
		isFullscreen 					= false;
		loadingTextPulseInterval 		= null;
		feudalifeInitAJS 				= true;
		canPlay 						= false;

		isTouchDevice = function(){
			var prefixes = ' -webkit- -moz- -o- -ms- '.split(' ');
			var mq = function(query){ return window.matchMedia(query).matches }
			if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch){ return true }
			var query = ['(', prefixes.join('touch-enabled),('), 'heartz', ')'].join('');
			return mq(query);
		}
		
		$screenLoading.fadeIn(500, function(){ 
			initPageInfo();
			feudalifeInit();
		});

		$( window )
			.resize(function(){
				initPageInfo();
				setTimeout( function(){
					if ( isFullscreen ){
						$gameCanvas.css( {'top': 0, 'left': 0, 'width': getFullscreenSize().width, 'height': getFullscreenSize().height, 'border-radius': 0, 'transform': 'translate(480px, 0)',} )
					}else{ $gameCanvas.css( fl_css_frame ) }
				}, 100);
				// handleCanvasWidthOnResize( $gameCanvas )
			})
			.keydown(function(e) {
				var code = (e.keyCode ? e.keyCode : e.which);
				if (code == 27 || code == 122){
					return false
				}
			});

		if ( isMobileDevice() && isChallenge ){
			setInterval(function(){ 
				if ( !canPlay ){ return }
				var newScreenOrientation = checkScreenOrientationChange();
				if ( newScreenOrientation == 'potrait' ){
					if ( isFullscreen ){ exitFullscreen() }
					$goFullscreenBtn.hide();
					$responsiveText.text('Please turn your device into landscape mode to play');
				}
				else if ( newScreenOrientation == 'landscape' ) {
					setTimeout(goFullscreen, 2000);
				}
			}, 200);
		}

		var hidden, visibilityChange;
		if (typeof document.hidden !== "undefined"){ // Opera 12.10 and Firefox 18 and later support
			hidden = "hidden";
			visibilityChange = "visibilitychange";
		}else if (typeof document.msHidden !== "undefined"){
			hidden = "msHidden";
			visibilityChange = "msvisibilitychange";
		}else if (typeof document.webkitHidden !== "undefined") {
			hidden = "webkitHidden";
			visibilityChange = "webkitvisibilitychange";
		}
		document.addEventListener(visibilityChange, handleVisibilityChange, false);
		function handleVisibilityChange() {
			if (document[hidden]) {
				gm_call("gml_Script_gmcallback_pageHidden",1);
			}else{
				gm_call("gml_Script_gmcallback_pageHidden",0);
			}
		}

		function Decodeuint8arr(uint8array)
		{
    		return new TextDecoder("utf-8").decode(uint8array);
		}

		function Encodeuint8arr(myString)
		{
		    return new TextEncoder("utf-8").encode(myString);
		}

		if ( !window.location.host.includes("127.0.0.1") ){

			window.username = '';
			window.userid = 0; 
	
			var externalIp    = $('body').attr('data');
			var loc = window.location.toString();
			var del = ".com";
			var webSocketUri  = loc.substring(0,loc.indexOf(del)+del.length);
			console.log("webSocketUri:"+webSocketUri);
			
			window.socket = io(webSocketUri, { forceNew: true, path: ( pathprefix + '/socket.io/' ),
			reconnection: true,
			reconnectionDelay: 3000,
			reconnectionDelayMax: 5000,
			reconnectionAttempts: Infinity} ); //, {	transports: ['websocket']});
			
			console.log('webSocketUri ' + webSocketUri);

			socket.on("fixed name", function(str)
	        {
	        	window.username = str;
	        });

			socket.on('got player data', function(a_usrname,a_usrid,a_socketid,a_userdata,a_userstats,a_deathdata,a_fstr,a_pstr,a_istr, a_iistr, a_ustr, a_hpstr, a_histr)
	        {
				
	        	console.log("client: got player data()");
		        //console.log('indexhtml:client: got player info ' + a_usrname+"$"+a_usrid+"$"+farmfound+"$"+fstr+"$"+pstr+"$"+istr);
		        //UTF here we DECODE AGAIN a_usrname before sending it to GAMEMAKER
	        	var str = a_usrname+"$"+a_usrid+"$"+a_socketid+"$"+a_userdata+"$"+a_userstats+"$"+a_deathdata+"$"+a_fstr+"$"+a_pstr+"$"+a_istr+"$"+a_iistr+"$"+a_ustr+"$"+a_hpstr+"$"+a_histr;
	        	console.log("a_usrname:"+a_usrname);
	        	console.log("a_usrid:"+a_usrid);
	        	console.log("a_socketid:"+a_socketid);
	        	console.log("a_userdata:"+a_userdata);
	        	console.log("a_userstats:"+a_userstats);
	        	console.log("a_deathdata:"+a_deathdata);
	        	console.log("a_fstr:"+a_fstr);
	        	console.log("a_pstr:"+a_pstr);
	        	console.log("a_istr:"+a_istr);
	        	console.log("a_iistr:"+a_iistr);
	        	console.log("a_ustr:"+a_ustr);
	        	console.log("a_hpstr:"+a_hpstr);
	        	console.log("a_histr:"+a_histr);
	        	gm_call("gml_Script_gmcallback_gotPlayerData", str);
	        });

			socket.on('got player data survival', function(a_usrname,a_usrid,a_socketid,a_userdata,a_fstr,a_sstr,a_wstr,a_mstr,a_pstr,a_istr,a_iistr)
	        {
	        	console.log("client: got player data survival()");
		        //console.log('indexhtml:client: got player info ' + a_usrname+"$"+a_usrid+"$"+farmfound+"$"+fstr+"$"+pstr+"$"+istr);
		        //UTF here we DECODE AGAIN a_usrname before sending it to GAMEMAKER
		        var decompressed_fstr = "";
		        var decompressed_sstr = "";
		        var decompressed_wstr = "";
				var decompressed_mstr = "";
				var decompressed_pstr = "";
		        var decompressed_istr = "";

		        if(a_fstr != "")
		        {
		        	decompressed_fstr = LZString.decompressFromBase64(a_fstr);
		        }
		        if(a_sstr != "")
		        {
		        	decompressed_sstr = LZString.decompressFromBase64(a_sstr);
		        }
		        if(a_wstr != "")
		        {
		        	decompressed_wstr = LZString.decompressFromBase64(a_wstr);
		        }
				if(a_mstr != "")
		        {
		        	decompressed_mstr = LZString.decompressFromBase64(a_mstr);
		        }
				if(a_mstr != "")
		        {
		        	decompressed_pstr = LZString.decompressFromBase64(a_pstr);
		        }
		        if(a_istr != "")
		        {
		        	decompressed_istr = LZString.decompressFromBase64(a_istr);
		        }
	        	var str = a_usrname+"$"+a_usrid+"$"+a_socketid+"$"+a_userdata+"$"+decompressed_fstr+"$"+decompressed_sstr+"$"+decompressed_wstr+"$"+decompressed_mstr +"$"+decompressed_pstr+"$"+decompressed_istr+"$"+a_iistr;
	        	/*
	        	console.log("a_usrname:"+a_usrname);
	        	console.log("a_usrid:"+a_usrid);
	        	console.log("a_socketid:"+a_socketid);
	        	console.log("a_userdata:"+a_userdata);
	        	console.log("a_fstr:"+a_fstr);
	        	console.log("a_sstr:"+a_sstr);
	        	console.log("a_pstr:"+a_pstr);
	        	console.log("a_istr:"+a_istr);
	        	console.log("a_iistr:"+a_iistr);
	        	*/
	        	gm_call("gml_Script_gmcallback_gotPlayerDataSurvival", str);
	        });


	        socket.on("got clients in room", function(count)
	        {
	        	gm_call("gml_Script_gmcallback_gotClientsInRoom",count);
	        });

			socket.on("got clients in island", function(count)
	        {
	        	gm_call("gml_Script_gmcallback_gotClientsInIsland",count);
	        });

		   	socket.on('got player record', function(a_res)
	        {
				console.log('got player record');
	        	gm_call("gml_Script_gmcallback_gotUserRecord",a_res);
	        });

			socket.on('got player record survival', function(a_res,a_land)
	        {
				console.log('got player record survival');
	        	gm_call("gml_Script_gmcallback_gotUserRecord",a_res+"$"+a_land);
	        });

	        socket.on('got player gold', function(a_res)
	        {
				console.log('got player gold');
	        	gm_call("gml_Script_gmcallback_gotUserGold",a_res);
	        });

			socket.on('leave farm', function(sock)
			{
			gm_call("gml_Script_gmcallback_leaveFarm",sock);
			});

			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//GOING TO ANOTHER FARM 5: the origin has received the data and will call the game
			socket.on('got user data', function(a_usrname,a_usrid,a_socketid,a_fstr,a_pstr,a_istr)
			{
				logga("ok I got the user data and now I will try to load the farm");
				
				gm_call("gml_Script_gmcallback_gotUserData",a_usrname+"$"+a_usrid+"$"+a_socketid+"$"+a_fstr+"$"+a_pstr+"$"+a_istr);
			});

			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//GOING BACK TO MY FARM 3
			socket.on('update farm', function(a_usrname,a_usrid,a_socketid,a_fstr,a_pstr,a_istr)
			{
				gm_call("gml_Script_gmcallback_updateFarm",a_usrname+"$"+a_usrid+"$"+a_socketid+"$"+a_fstr+"$"+a_pstr+"$"+a_istr);
			});

			socket.on('send sockets list', function(str,str2,str3,str4,str5,str6)
			{
				/*
				gm_call("gml_Script_gmcallback_receivedSocketList",str);
				gm_call("gml_Script_gmcallback_receivedSocketUsernamesList",str2);
				gm_call("gml_Script_gmcallback_receivedSocketNumTreesList",str3);
				gm_call("gml_Script_gmcallback_receivedSocketNumRocksList",str4);
				gm_call("gml_Script_gmcallback_receivedSocketNumPlantsList",str5);
				gm_call("gml_Script_gmcallback_receivedSocketNumVisitorsList",str6);
				*/
				//console.log("index.html:"+str+"$"+str2+"$"+str3+"$"+str4+"$"+str5+"$"+str6);
				var finalStr = str+"$"+str2+"$"+str3+"$"+str4+"$"+str5+"$"+str6;
				gm_call("gml_Script_gmcallback_receivedSocketList",finalStr);
			});

			socket.on("farm string to store",function(str)
			{
			//console.log("indexhtml:client: farm string to store");
			socket.emit("store farm string",str);
			gm_call("gml_Script_gmcallback_updateLastSave");
			});

			socket.on("storey string to store",function(str)
			{
			//console.log("indexhtml:client: farm string to store");
			socket.emit("store storey string",str);
			gm_call("gml_Script_gmcallback_updateLastSave");
			});

			socket.on("pickables string to store",function(str)
			{
			//console.log("indexhtml:client: pickables string to store");
			socket.emit("store pickables string",str);
			gm_call("gml_Script_gmcallback_updateLastSave");
			});

			socket.on("house pickables string to store",function(str)
			{
			//console.log("indexhtml:client: house pickables string to store");
			socket.emit("store house pickables string",str);
			gm_call("gml_Script_gmcallback_updateLastSave");
			});

			socket.on("interactables string to store",function(str)
			{
			//console.log("indexhtml:client: interactables string to store");
			socket.emit("store interactables string",str);
			gm_call("gml_Script_gmcallback_updateLastSave");
			});

			socket.on("house interactables string to store",function(str)
			{
			//console.log("indexhtml:client: house interactables string to store");
			socket.emit("store house interactables string",str);
			gm_call("gml_Script_gmcallback_updateLastSave");
			});

			socket.on("all strings to store",function(fstr,pstr,istr,landid)
			{
			//console.log("indexhtml:client: all strings to store");
			socket.emit("store all strings",fstr,pstr,istr,landid);

			decompressed_fstr = LZString.decompressFromBase64(fstr);
			decompressed_pstr = LZString.decompressFromBase64(pstr);
			decompressed_istr = LZString.decompressFromBase64(istr);

			gm_call("gml_Script_gmcallback_updateUserSurvival",decompressed_fstr+"$"+decompressed_pstr+"$"+decompressed_istr);
			});

			//GOING TO ANOTHER FARM 3: with this function the destination client will authorize the server to send its data to the origin
			socket.on("give me data",function(origin,usrname,usrid,sock,ud)
			{
				socket.emit("give me data",origin,usrname,usrid,sock,ud);
			});

			socket.on("get user data failed", function()
			{
			gm_call("gml_Script_gmcallback_getUserData_failed");
			});

			socket.on("get player data failed", function()
			{
			gm_call("gml_Script_gmcallback_getPlayerData_failed");
			});

			socket.on("delete player data failed", function()
			{
			gm_call("gml_Script_gmcallback_deletePlayerData_failed");
			});

			socket.on('got user farm', function(fstr,pstr,istr)
			{
			//console.log('indexhtml:client: got user farm '+fstr+"$"+pstr);
			gm_call("gml_Script_gmcallback_gotUserFarm",fstr+"$"+pstr+"$"+istr);
			});

			socket.on("add item to stash",function(iid,q,d)
			{
			//console.log("indexhtml:client: add item sto stash");
			var str = iid+":"+q+":"+d;
			gm_call("gml_Script_gmcallback_receivedItemToAddStash",str);
			});

			socket.on('client disconnected', function(v)
			{
				console.log('indexhtml:client: user disconnected ' + v);
				if(v)
				{
					if( challenge == 0 )
					{
						if(window.username)
						{
							gm_call("gml_Script_gmcallback_clientDisconnected", v);
						}
					}
				}
			});

			socket.on('found another mob owner', function()
			{
				gm_call("gml_Script_gmcallback_foundNewMobOwner");
			});
			socket.on('client connected', function(v)
			{
			  if(window.username)
			  {
			  	console.log('indexhtml:client: user connected, resync user... ' + v);
			  	//socket.emit("resync user",window.userigid,window.useremail, encodeURIComponent(window.username), challenge);
			  	socket.emit("resync user",window.userigid,window.useremail, window.username, challenge);
			  }
			  else
			  {
			  	console.log('indexhtml:client: user connected, SKIPPING resync because we have no username, it should be the first visit');
			  }
			  
			});

			socket.on('client reconnected', function(v)
			{
			  console.log('indexhtml:client: client reconnected ' + v);
			  gm_call("gml_Script_gmcallback_reconnect",v);
			});

			socket.on('send char resting', function(id,val)
			{
			  console.log("send char resting" + id + " " + val);
			  var str = id+":"+val;
			  gm_call("gml_Script_gmcallback_receivedCharResting",str);
			});

			socket.on('send dummy data to owner', function(dmg,sid)
			{
				var str = dmg+":"+sid;
				
				gm_call("gml_Script_gmcallback_receivedDummyData",str);
			});

			socket.on('send dummy data to mob owner', function(mid,dmg,sid)
			{
				var str = mid+":"+dmg+":"+sid;
				
				gm_call("gml_Script_gmcallback_receivedMobDummyData",str);
			});

			socket.on('send char data', function(xx,yy,ss1,ss2,ss3,ss4,ii,sx,sy,id,nam,sta)
			{
			//console.log("indexhtml:client: receiving user data");
			var str = xx+":"+yy+":"+ss1+":"+ss2+":"+ss3+":"+ss4+":"+ii+":"+sx+":"+sy+":"+id+":"+nam+":"+sta;
			//console.log("indexhtml:client: gml_Script_gmcallback_receivedCharData " + str);
			gm_call("gml_Script_gmcallback_receivedCharData",str);
			});

			socket.on('send mob data', function(xx,yy,si,ii,sx,mid,sid,lf,stt,trgtx,trgty)
			{
			//console.log("indexhtml:client: receiving mob data");
			var str = xx+":"+yy+":"+si+":"+ii+":"+sx+":"+mid+":"+sid+":"+lf+":"+stt+":"+trgtx+":"+trgty;
			//console.log("indexhtml:client: gml_Script_gmcallback_receivedMobData " + str);
			gm_call("gml_Script_gmcallback_receivedMobData",str);
			});
			socket.on('remove pickable', function(xx,yy,oid)
			{
			//console.log("indexhtml:client: remove pickable");
			var str = xx+":"+yy+":"+oid;
			//console.log("indexhtml:client: gml_Script_gmcallback_removePickable " + str);
			gm_call("gml_Script_gmcallback_removePickable",str);
			});
			socket.on('remove interactable', function(xx,yy,oid)
			{
			//console.log("indexhtml:client: remove interactable");
			var str = xx+":"+yy+":"+oid;
			//console.log("indexhtml:client: gml_Script_gmcallback_removeInteractable " + str);
			gm_call("gml_Script_gmcallback_removeInteractable",str);
			});
			socket.on('event perform interactable', function(xx,yy,iid,oid,evt,evn)
			{
			//console.log("indexhtml:client: event perform interactable");
			var str = xx+":"+yy+":"+iid+":"+oid+":"+evt+":"+evn;
			//console.log("indexhtml:client: gml_Script_gmcallback_eventPerformInteractable " + str);
			gm_call("gml_Script_gmcallback_eventPerformInteractable",str);
			});
			socket.on('drop pickable', function(xx,yy,pid,quant)
			{
			//console.log("indexhtml:client: drop pickable");
			var str = xx+":"+yy+":"+pid+":"+quant;
			//console.log("indexhtml:client: gml_Script_gmcallback_dropPickable " + str);
			gm_call("gml_Script_gmcallback_dropPickable",str);
			});
			socket.on('magnet pickable', function(xx,yy,pid,sid)
			{
			//console.log("indexhtml:client: magnet pickable");
			var str = xx+":"+yy+":"+pid+":"+sid;
			//console.log("indexhtml:client: gml_Script_gmcallback_magnetPickable " + str);
			gm_call("gml_Script_gmcallback_magnetPickable",str);
			});
			socket.on('change ground tile', function(col,row,type)
			{
			//console.log("indexhtml:client: change ground tile");
			var str = col+":"+row+":"+type;
			//console.log("indexhtml:client: gml_Script_gmcallback_changeGroundTile " + str);
			gm_call("gml_Script_gmcallback_changeGroundTile",str);
			});

			socket.on('sow plant', function(col,row,obj,s)
			{
			//console.log("indexhtml:client: sow plant");
			var str = col+":"+row+":"+obj+":"+s;
			//console.log("indexhtml:client: gml_Script_gmcallback_sowPlant " + str);
			gm_call("gml_Script_gmcallback_sowPlant",str);
			});

			socket.on('water tile', function(col,row)
			{
			console.log("indexhtml:client: water tile");
			var str = col+":"+row;
			//console.log("indexhtml:client: gml_Script_gmcallback_waterTile " + str);
			gm_call("gml_Script_gmcallback_waterTile",str);
			});

			socket.on('send emote', function(usr,type)
			{
			//console.log("indexhtml:client: send emote");
			var str = usr+":"+type;
			//console.log("indexhtml:client: gml_Script_gmcallback_gotEmote " + str);
			gm_call("gml_Script_gmcallback_gotEmote",str);
			});

			socket.on('place structure', function(xx,yy,obj,id)
			{
			//console.log("indexhtml:client: place structure");
			var str = xx+":"+yy+":"+obj+":"+id;
			//console.log("indexhtml:client: gml_Script_gmcallback_placeStructure " + str);
			gm_call("gml_Script_gmcallback_placeStructure",str);
			});

			socket.on('start structure job', function(xx,yy,obj,id)
			{
			//console.log("indexhtml:client: start structure job");
			var str = xx+":"+yy+":"+obj+":"+id;
			//console.log("indexhtml:client: gml_Script_gmcallback_startStructureJob " + str);
			gm_call("gml_Script_gmcallback_startStructureJob",str);
			});

			socket.on('draw equipped', function(sid,xx,yy,ia,si,ii,xs,ys)
			{
			var str = sid+":"+xx+":"+yy+":"+ia+":"+si+":"+ii+":"+xs+":"+ys;
			gm_call("gml_Script_gmcallback_drawEquipped",str);
			});

			socket.on('kick all players', function()
            {
                gm_call("gml_Script_gmcallback_kickAllPlayers");
            });

            socket.on('challenge callback', function(status,text,is_galacredit_winner,is_new_user,earned_amount)
            {
                var str = status+":"+text+":"+is_galacredit_winner+":"+is_new_user+":"+earned_amount;
                gm_call("gml_Script_gmcallback_challengeCallback",str);
            });

            socket.on('challenge callback error', function()
            {
                gm_call("gml_Script_gmcallback_challengeCallbackError");
            });

            socket.on('send player to', function(url)
            {
                open(url,"_self");
            });

            socket.on('can play challenge callback', function()
            {
                gm_call("gml_Script_gmcallback_challengeCheck");
            });

            socket.on('challenge request fail', function(txt,url)
            {
                var str = txt+";"+url;
                gm_call("gml_Script_gmcallback_challengeRequestFail",str);
            });

            socket.on('gotCSD', function(csd)
            {
                gm_call("gml_Script_gmcallback_gotCSD",csd);
            });

            socket.on('gotWEG', function(weg)
            {
                gm_call("gml_Script_gmcallback_gotWEG",weg);
            });

            socket.on('gotMSB', function(msb)
            {
                gm_call("gml_Script_gmcallback_gotMSB",msb);
            });

            socket.on('gotMSH', function(msh)
            {
                gm_call("gml_Script_gmcallback_gotMSH",msh);
            });

            socket.on('gotBSM', function(bsm)
            {
                gm_call("gml_Script_gmcallback_gotBSM",bsm);
            });

            socket.on('got user history', function(nu,sp,bp,kw,gc,sgm)
			{
			var str = nu+":"+sp+":"+bp+":"+kw+":"+gc+":"+sgm;
			gm_call("gml_Script_gmcallback_gotUserHistory",str);
			});

			socket.on('removed malus', function(status)
			{
			var str = status;
			gm_call("gml_Script_gmcallback_removeMalus",str);
			});

			socket.on('got challenge data', function(a,b,c,d,e,f,g,h,i)
			{
			var str = a+":"+b+":"+c+":"+d+":"+e+":"+f+":"+g+":"+h+":"+i;
			//console.log("got challenge data " + str);
			gm_call("gml_Script_gmcallback_gotChallengeData",str);
			});
			socket.on('got challenge data error', function()
			{
			//console.log("got challenge data ERROR");
			gm_call("gml_Script_gmcallback_gotChallengeDataError");
			});

			socket.on('disconnect', function()
			{
				//socket.disconnect();
				console.log("got disconnect event");
			});
		}
	</script>
</body>
</html>
